apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "muffin-currency.name" . }}
  labels:
    {{- include "muffin-currency.selectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: muffin-currency
  template:
    metadata:
      labels:
        {{- include "muffin-currency.selectorLabels" . | nindent 8 }}
      annotations:
        # Автоинструментация через OpenTelemetry Operator
        instrumentation.opentelemetry.io/inject-java: "true"
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.containerPort }}
        env:
          # OpenTelemetry конфигурация
          - name: OTEL_SERVICE_NAME
            value: "muffin-currency"
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: "otel-collector.default.svc.cluster.local:4317"
          - name: OTEL_RESOURCE_ATTRIBUTES
            value: "service.name=muffin-currency,service.namespace={{ .Release.Namespace }}"
        livenessProbe:
          httpGet:
            path: {{ .Values.livenessProbe.httpGet.path }}
            port: {{ .Values.livenessProbe.httpGet.port }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
        readinessProbe:
          httpGet:
            path: {{ .Values.readinessProbe.httpGet.path }}
            port: {{ .Values.readinessProbe.httpGet.port }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
