apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.name" . }}
  labels:
    {{- include "muffin-wallet.labels" . | nindent 4 }}
data:
  application.yaml: |
    ---
    server:
      port: {{ .Values.containerPort }}

    spring:
      datasource:
        url: jdbc:postgresql://postgresql:5432/{{ .Values.database.name }}
        username: {{ .Values.database.username }}
        hikari:
          maximum-pool-size: 10
          minimum-idle: 2
          connection-timeout: 30000
      
      application:
        name: muffin-wallet

    currency:
      service:
        url: {{ .Values.currencyService.url }}
    
    management:
      endpoints:
        web:
          exposure:
            include: health, info, prometheus, metrics
          base-path: /actuator
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
      tracing:
        sampling:
          probability: 1.0
      otlp:
        tracing:
          endpoint: http://otel-collector.default.svc.cluster.local:4318/v1/traces
    
    logging:
      pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
      level:
        root: INFO
        com.muffin: DEBUG